@font-face {
  font-family: "Actay";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Actay-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Actay";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Actay-RegularItalic.otf") format("opentype");
}

@font-face {
  font-family: "Actay Condensed";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/ActayCondensed-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Actay Condensed";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/ActayCondensed-ThinItalic.otf") format("opentype");
}
